<!DOCTYPE html>
<html>
  <head>
    <title>DoraGoroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  </head>
  <body>
    <header>
      <h1>Dora Goroku</h1>
      <div class="github">
        <%= link_to image_tag("github.png", alt: "github logo"),
          'https://github.com/daitasu/dora-goroku' %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
